body{
background-color: rgb(27, 27, 27);
    margin-left: 2%;
    margin-right: 2%;
    color: white;

}
h1{
    color: rgb(171, 205, 224);
    text-align: center;
}
p{
    text-align: justify;
    font-size: 1.5em;
    text-indent: 1.2em;
    line-height: 1.2;

}
footer{
text-align: right;
color: white;

}